<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.sodhera.gymblock.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gymblock</string>
				<string>com.sodhera.gymblock</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GymBlockPrivacyURL</key>
	<string>https://www.orecci.com/gymblock/privacy-policy.html</string>
	<key>GymBlockTermsURL</key>
	<string>https://www.orecci.com/gymblock/terms-of-service.html</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>RevenueCatAPIKey</key>
	<string>$(REVENUECAT_API_KEY)</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
</dict>
</plist>
